@charset "utf-8";
body {
  font-size: 14px;
  font-family: 'Times New Roman', 'YuMincho', 'Hiragino Mincho ProN',
    'Yu Mincho', 'MS PMincho', serif;
  line-height: 1.7;
  letter-spacing: 0.05;
}

.inner {
  max-width: 1260px;
  width: 86.4%;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
  line-height: none;
}

/*--header--*/

h1 {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
  margin: 40px 0;
}

.top img {
  width: 100%;
  position: relative;
}

.txt {
  background-color: #fff;
  padding: 40px;
  position: absolute;
  top: 240px;
}

.txt .english {
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.8;
  margin-bottom: 30px;
}

.txt .big {
  font-size: 30px;
  line-height: 1.38;
}

/*--main--*/

.content {
  padding: 100px 0;
}

.content .blue {
  background-color: #72c9f3;
  padding: 8px 15px;
  color: #fff;
  width: 194px;
  margin: 0 auto;
}

h2 {
  font-size: 36px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 100px;
  position: relative;
}

h2::after {
  content: '';
  width: 80px;
  height: 1px;
  display: inline-block;
  position: absolute;
  background-color: #1e1e1e;
  bottom: -10px;
  left: calc(50% - 55px);
}

article img {
  margin: 0 auto;
}

.photo {
  position: relative;
}

.photo p {
  position: absolute;
  top: 200px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
}

.hash p {
  background-color: #f5f5f5;
  display: inline-block;
  color: #1e1e1e;
  font-size: 12px;
  padding: 6px 12px;
  margin: 20px 10px 0 0;
}

.first {
  border-bottom: 1px solid #ddd;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

/*--footer--*/
footer {
  background-color: #1e1e1e;
  color: #fff;
  padding: 100px 0;
}

dl {
  display: flex;
  margin: 0 auto;
  text-align: center;
  padding: 0 135px;
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

dt {
  margin-right: 50px;
}

dl .last {
  margin-right: 65px;
}

small {
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
  display: block;
  text-align: center;
  margin-top: 100px;
}

@media (min-width: 740px) {
}
